{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
	{jiffy, {git, "https://github.com/davisp/jiffy", {branch, "master"}}},
	{lager, {git, "https://github.com/erlang-lager/lager", {branch, "master"}}},
	{color, {git, "https://github.com/julianduque/erlang-color", {branch, "master"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [web_agent]}
]}.
