{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
	    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
		{jiffy, {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
		{lager, {git, "git://github.com/erlang-lager/lager.git", {branch, "master"}}},
		{color, {git, "git://github.com/julianduque/erlang-color", {branch, "master"}}},
		{poolboy,{git,"git://github.com/devinus/poolboy",{branch,"master"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [web_agent]}
]}.
