[
    {
        web_agent,
        [
            {port, 7000},
            {mqtt_node, 'VerneMQ@127.0.0.1'}
        ]
    },
    {
        lager,
        [
            {log_root, "/var/log/web_agent"},
            {colored, true},
            {handlers, [
                {lager_console_backend, [{level, info}, {formatter, stout},
                    {formatter_config, [
                        {time, yellow}, " ",
                        {severity, [upper, {format, "~.5s"}, color, {format, "~s"}]},
                        " ",
                        message, "\n"
                    ]}]},
                {lager_file_backend, [{file, "error.log"}, {level, error}]},
                {lager_file_backend, [{file, "console.log"}, {level, info}, {formatter, stout},
                    {formatter_config, [
                        {time, yellow}, " ",
                        {severity, [upper, {format, "~.5s"}, color, {format, "~s"}]},
                        " ",
                        message, "\n"
                    ]}]}
            ]}
        ]
    }
].
